include LICENSE
include README.md
include *.cff
recursive-include assets *.tif

exclude main.py
recursive-exclude data *
recursive-exclude examples *
recursive-exclude PySAGA_cmd/tests *
recursive-exclude * *.png
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.ipynb
